<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="mystyle.css" />
	<meta charset="utf-8" />
	<title></title>
    <link rel="stylesheet" href="mystyle.css" />
</head>
<body>
  <div >
    <h1 class="logo">
      <img src="logo.png" alt="Smiley face" width="200" height="150" style="vertical-align:middle">University Of Gondar</p>
  </div>
<section id="nav">
    <div class="wrapper">
        <nav class="site-nav">
     
            <div class="menu-toggle">
            <div class="hamburger"></div>
            </div>
                   
          <ul class="open desktop">
            <li><a href="/" id="one"><i class="fas fa-home site-nav--icon"></i>Home</a></li>
            <li><a href="/data"><i class="fas fa-globe site-nav--icon"></i>Report</a></li>
            <li><a href="/login"><i class="fas fa-users site-nav--icon"></i>login</a></li>
            <li><a href="/register"><i class="fas fa-download site-nav--icon"></i>signup</a></li>
            <li><a href="#!"><i class="fas fa-phone site-nav--icon"></i>About</a></li>
          </ul>
       </nav>
    </div>   
</section>
  <section>
    
    <div id="searcharea">
    
    <p>search you want</p>
    <input type="search" name="search" name="search" id="search" placeholder="Name or info " />
</div>    
<div id="update"></div>
<script src="jquery.js"></script>
<script src="script.js"></script>
  </section>

</body>
</html>